.git
.github
.fleet
.idea
.vscode
node_modules
vendor
storage/app
storage/logs
storage/framework
bootstrap/cache
public/build
public/hot
tests
docs
*.md
!README.md
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal
