// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Brand colours, see docs/branding.md for more information
$blaze-orange: #ff6200ff;
$champagne-mist: #ffead0ff;
$smoky-rose: #96616bff;
$charcoal-blue: #37505cff;
$dark-teal: #113537ff;
